{% extends 'base.html.twig' %}

{% block title %}More info & Contact{% endblock %}

{% block body %}
        <div class="container">
        <div class="row">
            <h1>More info</h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h2>About me</h2>
                <div class="aboutme-box">
                    <p class="aboutme-text">
                        Hi! My name is Michał. I am a <b>webmaster</b> and <b>PHP developer</b>. I also graduated as an <b>IT engineer</b>.
                    </p>
                    <p class="aboutme-text">
                        Since 2018, I have been <b>professionally creating websites</b> and <b>e-commerce stores</b>.
                        I have worked on <b>dozens of projects</b> for clients from many different industries.
                    </p>
                    <p class="aboutme-text">
                        I work, among others in the standard <b>LAMP</b> environment, <b>Wordpress</b> system, <b>Symfony</b> framework and many more.
                        I am comfortable with <b>database solutions</b> and <b>REST APIs</b>.
                        But not only backend technologies are my forte. I also use some <b>frontend</b> solutions.
                        During my professional experience, I also got acquainted with many aspects of <b>SEO</b> and <b>SEM</b>, as well as creating <b>UX-oriented</b> solutions.
                    </p>
                    <p class="aboutme-text">
                        I focus primarily on the continuous <b>development of my skills</b>. I love <b>learning</b> about new <b>technologies</b>.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>Contact</h2>
                <div class="contact-image align-center">
                    <img src="/uploads/default/photo.jpg" alt="Photo" class=""/>
                </div>
                <div class="contact-box">
                    <p class="contact-item">
                        <i class="fa-solid fa-envelope"></i> michal@stancelewski.pl
                    </p>
                    <p class="contact-item">
                        <i class="fa-brands fa-github"></i> <a href="https://github.com/MichalStancelewski/"
                                                               target="_blank" rel="nofollow,noopener">github.com/MichalStancelewski/</a>
                    </p>
                    <p class="contact-item">
                        <i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/in/michal-stancelewski/"
                                                               target="_blank" rel="nofollow,noopener">linkedin.com/in/michal-stancelewski/</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
