.admin-page-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.admin-page {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

h1 {
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.nav-item{
    font-size: 14px;
}

.dropdown-item.bg-dark{
    color: #ffffff8c;
    transition: 0.3s;
}

.dropdown-item.bg-dark:hover{
    color: #ffffffbf;
}

.nav-link.text-danger:hover{
    text-decoration: underline;
}