td, th {
    color: #ffffff;
}

.admin-page-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.admin-page {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

h1 {
    font-size: 22px;
    padding: 0;
    margin: 0;
    color: #a68b1e;
}

.nav-item {
    font-size: 14px;
}

.dropdown-item.bg-dark {
    color: #ffffff8c;
    transition: 0.3s;
    text-transform: uppercase;
    font-size: 13px;
}

.dropdown-item.bg-dark:hover {
    color: #ffffffbf;
}

.nav-link.text-danger:hover {
    text-decoration: underline;
}

.page-description {
    font-size: 0.8em;
    margin: 2.5em 0.5em 3.5em 0.5em;
}

.admin-big-button i {
    margin-right: 10px;
}

.admin-big-button {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1em 2em;
    margin-bottom: 20px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
    transition: 0.3s;
    background-color: #a68b1e;
    color: #ffffff;
}

.admin-big-button:hover {
    background-color: #b5a525;
    color: #ffffff;
}
