//fonts
$font-family-title-primary: 'Overpass', Helvetica, sans-serif;
$font-family-title-secondary: 'Overpass', Helvetica, sans-serif;
$font-family-text: 'Lato', Helvetica, sans-serif;
//colors
$color-background-darker: #0F0F10;
$color-background-medium: #1B1C22;
$color-background-lighter: #24252B;
$color-background-secondary: #515E6E;
$color-accent: #3C50F9;
$color-text-lighter: #f0f0f0;
$color-text-darker: #8f9092;
$color-text-medium: #dadbdc;
