//fonts
$font-family-title-primary: 'Overpass', Helvetica, sans-serif;
$font-family-title-secondary: 'Overpass', Helvetica, sans-serif;
$font-family-text: 'Lato', Helvetica, sans-serif;
//colors
$color-background-darker: #0F0F10;
$color-background-medium: #1B1C22;
$color-background-lighter: #24252B;
$color-background-secondary: #515E6E;
$color-accent: #3C50F9;
$color-accent-alfa: rgba(60, 80, 249, 0.18);
$color-accent-darker: #233cbb;
$color-text-lighter: #f0f0f0;
$color-text-darker: #8f9092;
$color-text-medium: #dadbdc;
$color-alfa: rgba(0,0,0,0);
//borders
$border-radius: 5px;
$box-shadow-dark: 0 0 8px $color-background-darker;
$box-shadow-light: 0 0 3px $color-background-lighter;
$drop-shadow-accent: drop-shadow(0 18px 10px $color-accent-alfa);