@import '~bootstrap/scss/bootstrap';
@import './variables';

body {
  background-color: $color-background-medium;
  font-family: $font-family-text;
  color: $color-text-lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-title-primary;
  letter-spacing: 1px;
}

h1 {
  font-size: calc(1.200rem + 1.3vw);
  margin-top: 20px;
  margin-bottom: 50px;
}

h2 {
  font-size: calc(0.800rem + 0.5vw);
  margin-bottom: 15px;
}

h3 {
  font-size: calc(0.600rem + 0.2vw);
  margin-bottom: 12px;
}

a {
  transition: all 0.25s;
  text-decoration: none;
}

::-moz-selection {
  color: $color-text-medium;
  background: $color-background-darker;
}

::selection {
  color: $color-text-medium;
  background: $color-background-darker;
}

.position-relative {
  position: relative;
}

.wrapper {
  display: flex;
  width: 100%;
}

#content {
  margin-left: 250px;
  padding: 25px;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 25px;
  z-index: 999;
  background-color: $color-background-medium;
  color: $color-text-darker;
  border-right: 2px solid $color-background-secondary;
}

#sidebar #sidebar-footer {
  position: absolute;
  margin: 0 auto;
  left: 0;
  bottom: 25px;
  width: 100%;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.7px;
}

.sidebar-menu-main,
.sidebar-menu-main ul {
  margin-top: 25px;
}

.sidebar-header a {
  color: $color-text-darker;
  font-size: 28px;
  font-weight: 700;
}

.sidebar-menu-main .menu-item i {
  margin-right: 8px;
}

.sidebar-menu-main .menu-item {
  display: block;
  background-color: $color-alfa;
  color: $color-text-darker;
  border-radius: $border-radius;
  padding: 10px 13px;
  margin-bottom: 10px;
}

.sidebar-menu-main .menu-item.active,
.sidebar-menu-main .menu-item:hover {
  background-color: $color-accent;
  color: $color-text-lighter;
  box-shadow: $box-shadow-dark;
}

.archive .single-block,
.aboutme-box,
.single .block-left {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  background-color: $color-background-lighter;
  border-radius: $border-radius;
  color: $color-text-lighter;
  font-size: 18px;
  font-weight: 700;
}

.archive .single-block:hover {
  background-color: $color-accent;
  box-shadow: $box-shadow-dark;
}

.archive img.block-image {
  max-height: 50px;
  width: auto;
  padding: 3px;
  background-color: $color-text-lighter;
  border-radius: $border-radius;
}

.archive .single-block p {
  margin: 0;
}

.archive .single-block .container.inside-block {
  padding: 0;
}

.archive p.block-count,
.single p.block-count {
  margin-top: 5px;
  font-size: 12px;
  color: $color-text-darker;
  font-weight: 400;
  letter-spacing: 0.7px;
}

.archive .block-count b,
.single .block-count b {
  font-weight: 700;
  color: $color-text-medium;
}

.single .block-name {
  font-size: 22px;
  padding: 5px 0;
}

.single img.technology-image {
  max-height: 280px;
  width: auto;
  padding: 30px;
  margin: 0 auto 20px auto;
}

.contact-box {
  display: block;
  margin-bottom: 20px;
  padding: 5px 20px;
  background-color: $color-alfa;
  border-radius: $border-radius;
  border: 2px solid $color-background-lighter;
  color: $color-text-lighter;
  font-size: 16px;
  font-weight: 700;
}

.contact-box a {
  color: $color-accent;
}

.contact-box a:hover {
  color: $color-accent-darker;
}

.contact-box i {
  margin-right: 6px;
}

.contact-box p,
.single .block-left {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 12px;
  margin-right: 12px;
}

.button {
  display: block;
  max-width: 140px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  border-radius: $border-radius;
  border: 2px solid $color-background-lighter;
  color: $color-text-darker;
}

.button i.left {
  margin-right: 8px;
}

.button i.right {
  margin-left: 8px;
}

.button.go-back {
  background-color: $color-alfa;
}

.button.go-back:hover {
  background-color: $color-accent;
  color: $color-text-lighter;
  border: 2px solid $color-accent;
  box-shadow: $box-shadow-dark;
}

.aboutme-text,
.single .block-left p {
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  color: $color-text-darker;
}

.aboutme-text b,
.single .block-left b {
  font-size: 15px;
  font-weight: 700;
  color: $color-text-lighter;
}

.aboutme-text li,
.single .block-left li {
  font-size: 15px;
  font-weight: 400;
  color: $color-text-darker;
}

.align-center {
  text-align: center;
}

.contact-image img {
  max-height: 172px;
  margin: 0 auto 34px auto;
  border-radius: $border-radius;
}

img.shadow {
  filter: $drop-shadow-accent;
}

.block-techs {
  margin-top: 5px;
}

hr.block-separator {
  border-bottom: 1px solid $color-text-darker;
  margin: 10px 0 5px 0;
}

.archive .project-link {
  display: block;
  position: absolute;
  top: 18px;
  right: 28px;
  color: $color-text-lighter;
}

.archive .project-link:hover {
  transform: scale(1.5);
  color: $color-accent;
}

.single .project-link a {
  color: $color-text-lighter;
}

.single .project-link a:hover {
  color: $color-accent;
}

.single .project-link i {
  margin-right: 7px;
}

img.small-thumbnail {
  border-radius: 100px !important;
  max-width: 36px;
  height: auto;
  padding: 2px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: $color-text-lighter;
}

img.medium-thumbnail {
  border-radius: 100px !important;
  max-width: 52px;
  height: auto;
  padding: 5px;
  margin-top: 5px;
  margin-right: 10px;
  background-color: $color-text-lighter;
  transition: 0.3s;
}

img.medium-thumbnail:hover {
  transform: scale(1.1);
}

.single .block-techs {
  padding: 20px;
}

@media only screen and (max-width: 767px) {
  .wrapper {
    display: block;
  }
  #content {
    margin-left: 0;
    padding: 15px;
  }
  #sidebar {
    width: 100vw;
    position: relative;
    height: auto;
    padding: 15px;
    border-right: none;
    border-bottom: 2px solid $color-background-secondary;
  }
  #sidebar #sidebar-footer {
    position: relative;
    bottom: auto;
  }

  .sidebar-header, .sidebar-menu-main p {
    text-align: center;
  }
}