@import '~bootstrap/scss/bootstrap';
@import './variables';

body {
    background-color: $color-background-medium;
    font-family: $font-family-text;
    color: $color-text-lighter;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-title-primary;
}

a {
    transition: all 0.25s;
    text-decoration: none;
}

::-moz-selection {
    color: $color-text-medium;
    background: $color-background-darker;
}

::selection {
    color: $color-text-medium;
    background: $color-background-darker;
}

.wrapper {
    display: flex;
    width: 100%;
}

#content {
    margin-left: 250px;
    padding: 35px;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 35px;
    z-index: 999;
    background-color: $color-background-medium;
    color: $color-text-darker;
    border-right: 2px solid $color-background-secondary;
}

#sidebar #sidebar-footer{
    position: absolute;
    margin: 0 auto;
    left: 0;
    bottom: 35px;
    width: 100%;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0.7px;
}

.sidebar-header a{
    color: $color-text-lighter;
    font-size: 28px;
    font-weight: 700;
}

@media only screen and (max-width: 767px) {
    .wrapper{
        display: block;
    }
    #content {
        margin-left: 0;
        padding: 15px;
    }
    #sidebar {
        width: 100vw;
        position: relative;
        height: auto;
        padding: 15px;
        border-right: none;
        border-bottom: 2px solid $color-background-secondary;
    }
    #sidebar #sidebar-footer{
        position: relative;
        bottom: auto;
    }
}