<nav id="sidebar">
    <div class="sidebar-header">
        <p><a href="{{ path('homepage') }}">My Projects</a></p>
    </div>
    <div class="sidebar-menu-main">
        <p>Check my projects made for educational and hobby purpose.</p>
        <ul class="list-unstyled components">
            {% set currentPage = app.request.attributes.get('_route') %}
            <li><a href="{{ path('homepage') }}" class="menu-item{% if currentPage == 'homepage' or currentPage == 'project' %} active{% endif %}">
                    <i class="fa-solid fa-laptop-code"></i> All projects
                </a></li>
            <li><a href="{{ path('technologies_index') }}" class="menu-item{% if currentPage == 'technologies_index' or currentPage == 'technologies_single' %} active{% endif %}">
                    <i class="fa-solid fa-code"></i> Used technologies
                </a></li>
            <li><a href="{{ path('more_info') }}" class="menu-item{% if currentPage == 'more_info' %} active{% endif %}">
                    <i class="fa-solid fa-question"></i> More info
                </a></li>
        </ul>
    </div>
    <div id="sidebar-footer">
        &copy; Michał Stancelewski
    </div>
</nav>