<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Bootstrap Sidebar</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Dummy Heading</p>
        {% for project in projects %}
            <li><a class="navigation-element" href="{{ path('project', { slug: project.slug }) }}">{{ project }}</a></li>
        {% endfor %}
        <li><a href="{{ path('admin') }}">ADMIN</a></li>
    </ul>
</nav>
