{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

    <h1>Projects</h1>

    <h2>List of my projects</h2>
    {% for project in projects %}
        <p>{{ project }}</p>
    {% endfor %}

{% endblock %}
